// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

- matches = typeof(matches) != 'undefined' ? matches : {}
- players = typeof(players) != 'undefined' ? players : {}
- groups = typeof(groups) != 'undefined' ? groups : {}

Group Topscorer (ekki round of 16 topscorer), tournament topscorer, top 1 2 og 3 teams, team with the worst record


#account-form-container
    form( method="post")#account-form.form-horizontal.well.span6
        h2
        p#sub2.subheading Please tell us a little about yourself.
        hr
        fieldset
            - for (group in groups)
              #clist-cg.control-group
                label.control-label(for='#group-top-scorer') Group #{groups[group].name} Topscorer:
                .controls
                    select#group-top-scorer(name='group-top-scorer')
                      - for (match in matches)
                        - for (player in players)
                          - if(matches[match].away_team_id == players[player].country_id)
                            - var currentPlayerCountry = matches[match].away_team
                          - if(matches[match].home_team_id == players[player].country_id)
                            - var currentPlayerCountry = matches[match].away_team
                          - if(players[player].country_id == matches[match].home_team_id || players[player].country_id == matches[match].away_team_id)
                            - if(matches[match].group == groups[group].name)
                              option(id=players[player].id)= players[player].name + ' (' + currentPlayerCountry + ')'

            #clist-cg.control-group
                label.control-label(for='tournament-top-scorer') Tournament Topscorer:
                .controls
                    select#tournament-top-scorer(name='country')
                      - for (match in matches)
                        - for (player in players)
                          - if(matches[match].away_team_id == players[player].country_id)
                            - var currentPlayerCountry = matches[match].away_team
                          - if(matches[match].home_team_id == players[player].country_id)
                            - var currentPlayerCountry = matches[match].away_team
                          - if(players[player].country_id == matches[match].home_team_id || players[player].country_id == matches[match].away_team_id)
                            option(id=players[player].id)= players[player].name + ' (' + currentPlayerCountry + ')'
        p Format; Group : Home - Away
        - for (match in matches)
          br
          p(id=matches[match].id) #{matches[match].group} : #{matches[match].home_team} - #{matches[match].away_team}
            fieldset
                cg.control-group
                    label.control-label(for='home-goals') Home goals:
                    .controls
                        select#home-goals(name='home-goals')
                          - for (var i = 0; i < 100; ++i) {
                            option= i
                          - }
                    br
                    label.control-label(for='home-goals') Away goals:
                    .controls
                        select#away-goals(name='away-goals')
                          - for (var i = 0; i < 100; ++i) {
                            option= i
                          - }          
                    br
                    label.control-label(for='country-list') Scorer:
                    .controls
                        select#scorer-list(name='game-scorer')
                          - for (player in players)
                            - if(players[player].country_id == matches[match].home_team_id || players[player].country_id == matches[match].away_team_id)
                              - var currentCountry = players[player].country_id == matches[match].home_team_id ? matches[match].home_team : matches[match].away_team;
                              option(id=players[player].id)= players[player].name + ' (' + currentCountry + ')'
            br

// display form errors in a custom modal window //

include modals/form-errors
