- data = typeof(resultsof2014) != 'undefined' ? resultsof2014 : {}

#account-form-container
  div.content
    div.page-header
      h1 #{title} 
    div.row
      h4 Results for the 2014 FIFA World Cup
      h4 Data last time updated : #{data.lastsuccess}
      p

      -var gamerepresent = 1
      -for(var group in data.results)

        -for(var game in data.results[group])
          
          if(parseInt(data.results[group][game].hometeam.length) != 0)
         
            h4 Game #{parseInt(gamerepresent++)}

            p Home: #{data.results[group][game].hometeam.text}

            p Away: #{data.results[group][game].awayteam.text}
          
            if parseInt(data.results[group][game].homescorers.length) > 1
              p Homes' scorers:
              -for(var homescorer in data.results[group][game].homescorers)
                p &nbsp;&nbsp;&nbsp;&nbsp; #{data.results[group][game].homescorers[homescorer].text}
            else
              p Home's scorer: #{data.results[group][game].homescorers.text}

            if parseInt(data.results[group][game].awayscorer.length) > 1
              p Aways' scorers:
              -for(var awayscorer in data.results[group][game].awayscorer)
                p &nbsp;&nbsp;&nbsp;&nbsp; #{data.results[group][game].awayscorer[awayscorer].text}
            else
              p Away's scorer: #{data.results[group][game].awayscorer.text}

            p Results: #{data.results[group][game].scoreline}