// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
- users = typeof(users) != 'undefined' ? users : {}
// store the userId on the client side in a hidden input field //
- leagues = typeof(leagues) != 'undefined' ? leagues : {}
- activeUsers = typeof(activeUsers) != 'undefined' ? activeUsers : {}
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
  div.well.span6
    h1 Overall & League Scoreboard
    p Join (or create and then join!) a league to see your ranking within each league.
  - for(league in leagues)
      div.well.span6
        h2 #{leagues[league].name}
        - for(user in users)
          - if(users[user].league_id == leagues[league].id)
            p #{users[user].user_name} - #{users[user].score == null ? 0 : users[user].score} pts
  div.well.span6
    h2 Overall Active Users
      - for (activeUser in activeUsers)
        p #{activeUsers[activeUser].user_name} - #{activeUsers[activeUser].user_score == null ? 0 : activeUsers[activeUser].user_score} pts

// display form errors in a custom modal window //

include modals/form-errors
